body {
	margin: 0;
	padding: 0;
	font-family: 'Ovo', sans-serif;
}

header {
	margin: 0;
}

.banner {
	margin: 0;
	height: 100%;
	/*width: 100%;*/
	padding: 400px;
	background-image: linear-gradient(rgb(255 255 255 / 30%), rgb(226 226 226 / 30%)),url('Imagenes/logos/logojulus2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	border-bottom-style: dotted;
	border-bottom-width: 1px;
	box-shadow: 2px 5px 9px 3px #424141;
	}

.banner h1, p {
	text-shadow: -4px 3px 7px #989797;
	color: white;
	text-align: left;
}

.barra {
	display: unset;
}

.barra-navegacion {

	box-shadow: inset -1px 4px 6px 0px #ccc6c6;
	background: linear-gradient(1deg, rgba(245,212,243,255), #b8b6e5 90%);
	font-family: 'Ovo', sans-serif;
	position: sticky;
	top: 0px;
	z-index: 100;
	
}


.barra-navegacion__lista {
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;

}

.barra-navegacion__item {
	display: inline-block;
	
	
	
}

.barra-navegacion__link {
	text-decoration: none;
	padding: 10px 50px;
	/*padding-top: 20px;
	padding-bottom: 15px;*/
	color: black;
	display: block;
	transition: background-color 0.5s;
}

.barra-navegacion__link:hover {
	background-color: grey;
	box-shadow: inset -1px 4px 6px 0px #424141;
	color: white;
	
}


.fondo {
	margin-top: 0;
	background-color: #b8b6e5;
	padding: 10px;
	
}

.seccion-inicio{
	text-align: center;
}
 .inicio {
 	display: inline-block;
 	
 }


.seccion-inicio__roll {
	background-image: url(Imagenes/roll2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 435px;
	height: 500px;
	padding-right: 5px;
	filter: grayscale(60%);
	transition: filter 0.5s;
	box-shadow: 0px 19px 10px 3px #3e3e3e;
}

.seccion-inicio__roll:hover {
	filter: grayscale(0%);
}



.seccion-inicio__trenza {
	background-image: url(Imagenes/buclescard.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 435px;
	height: 500px;
		filter: grayscale(60%);
	transition: filter 0.5s;
	box-shadow: 0px 19px 10px 3px #3e3e3e;
}

.seccion-inicio__trenza:hover {
	filter: grayscale(0%);
}
.seccion-inicio__bucle {
	background-image: url(Imagenes/trenza.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 436px;
	height: 500px;
		filter: grayscale(60%);
	transition: filter 0.5s;
	box-shadow: 0px 19px 10px 3px #3e3e3e;

}

.seccion-inicio__bucle:hover {
	filter: grayscale(0%);
}